.g-12 {
    position: relative;
    z-index: -1;
    width: 100%; 
    
}

.g-12-img {
    position: absolute;
    width: 100%;
    margin-top: -30vh;
}
.g-12-img-phone{
    position: absolute;
    width: 100%;

}
.text {
    text-transform: capitalize;
}


.head-content span {
    color: rgb(42, 208, 210);
    font-family: 'Kameron-Bold', serif;
}

.head-content {
    margin-top: 25vh;
    font-family: 'Kameron', serif;
}


.head-content p {
    font-family: inter-light;
    font-weight: 300;
    color: gray;
}

.part1-h1 {
    font-family: kameron;
    font-size: 80px;
}
.part1-h1-phone{
    font-family: kameron;
    font-size: 11vw;
}
.btn1 {
    border-radius: 30px !important;
    padding: 10px 7vw !important;
    background-color: rgb(42, 208, 210);
    color: white;
    margin-right: 15px;
    font-family: roboto;
    
}

.btn2 {
    border-radius: 30px;
    padding: 10px 7vw;
    border-color: rgb(42, 208, 210);
    background-color: #000000;
    color: white;
    font-family: roboto;
}
.bx-social {
      font-size: 30px;
      cursor: pointer;
  }


.turn {
      rotate: 90deg;
      font-size: 40px;
}

.social-icons {

      background-color: rgba(255, 255, 255, 0.08);
      border-radius: 2vw;
      width: fit-content;
      text-align: center;
      margin: 2vw;
      padding: 1vw;
      list-style: none;
      position: sticky;
}
.btn-3 {
    border-radius: 30px !important;
    padding: 10px 70px !important;
    background-color: rgb(42, 208, 210);
    color: white;
    margin-right: 15px;
    font-family: roboto;
}

.btn-4 {
    border-radius: 30px;
    padding: 10px 50px;
    border-color: rgb(42, 208, 210);
    background-color: #000000;
    color: white;
    font-family: roboto;
}

.btn-phone-3{
    border-radius: 30px !important;
    padding: 10px 9vw !important;
    background-color: rgb(42, 208, 210);
    color: white;
    margin-right: 15px;
    font-family: roboto;
    
}

.btn-phone-4{
    border-radius: 30px;
    padding: 10px 7vw;
    border-color: rgb(42, 208, 210);
    background-color: #000000;
    color: white;
    font-family: roboto;
}



.part4-h1 { 
    font-size: 60px;
    font-weight: 800;
    font-family: inter-black;
 } 
 @media screen and (max-width: 600px) {

    .part4-h1 {
          font-size: 2.4rem;
         
          font-weight: 800;
    }

} 
.fw-bold {
    margin-top: -2vh;
}

.text-part4 {
    margin-top: 9vh;
    font-family: roboto;
    font-size: 22px;  
} 
/* max-width:1146px
min-width:992px */


/* @media screen and (max-width: 756px) {

    .text-part4 {
           
    }

}  */



/* card discreabtion */
.card-frame {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 32px;
    /* margin-bottom: 128px; */
    margin-bottom: 90px;
}

.card-img-photo {
    max-width: 50%;
}
.card-title {
    text-align: center;
    margin-top: -20%;
    height: 120px;
}
.card-title-text {
    font-family: kadwa-bold-700;
    font-weight: 700;
    font-size: xx-large;
}
.card-content-frame {
    padding: 5%;
    text-align: justify;
    text-justify: inter-word;
}

.card-content-text {
    font-family: roboto;
    font-weight: 400;
    font-size: 20px;
}

.card-content-readmore {
    font-family: roboto;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    background-color: rgba(240, 248, 255, 0.14);
    padding: 6px 26px 6px 26px;
    border-radius: 16px;
    width: fit-content;
    cursor: pointer;

}
.card-img-frame {
    background-image: url('./assets/images/Elements/Group\ 10.png');
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding-top: 25%;
    padding-bottom: 25%;
}


/* usecases section with backgrand-image*/

 .usecases span{
    color: rgb(42, 208, 210);
    
}

.usecases h1{
    font-size: 60px;
    font-weight: 700;
    
}
.usecases-content-findmore {
    font-weight: 700;
    font-size: 20px;
    text-decoration: underline; 
    padding: 6px 26px 6px 0px;
    width: fit-content;
    cursor: pointer;

}
.usecases-readmore {
    font-size: 20px;
    text-decoration: underline; 
    padding: 6px 26px 6px 0px;
    width: fit-content;
    cursor: pointer;
} 

/* .bg-fram{ 
     background: linear-gradient(to right, rgba(, , , ), rgba(, , , ), rgba(, , , ));
    z-index: 1;
    height: 100%; 
    width: 115%;
    border-radius: 15px;
}   */
.card-1{
    background-image: url('./assets/images/Objects/TS-bg-2.png');   
    background-size: cover;
    background-repeat: no-repeat;   
    width: 100%;
   
    
}


.card-2{
    background-image: url('./assets/images/Objects/FT-bg-2.png');
    background-size: cover;
    background-repeat: no-repeat;   
    width: 100%;
    
   
    
}
.card-3{
    background-image: url('./assets/images/Objects/SP-bg-2.png');
    background-size: cover;
    background-repeat: no-repeat;   
    width: 100%;
    max-width: 100%;
    
} 

 .usecases-card-title{
    padding: 10% 0% 10% 5%;
    width: 100% !important;
    height: 100%;
    
} 


/* usecases section without backgrand-image */

/* .usecases span{
    color: rgb(42, 208, 210);
    
}
.usecases h1{
    font-size: 60px;
    font-weight: 700;
    
}
.usecases-findmore {
    font-weight: 500;
    font-size: 25px;
    text-decoration: underline; 
    padding: 6px 26px 6px 0px;
    width: fit-content;
    cursor: pointer;

} 
.usecases-readmore {
  font-size: 20px;
  text-decoration: underline; 
  padding: 6px 26px 6px 0px;
  width: fit-content;
  cursor: pointer;
}  
.usecases-card-fram{ 
  position: relative;
} 
.usecases-card-title{
    position: absolute;
    margin-top: -45%;
}
.usecases-card-img-fram{
    vertical-align: middle;
    width: 100%;
    height: fit-content;
}
.TS-bg,
.FT-bg,
.SP-bg{
    max-width: 100%;
}  */



