
/* usecases section without backgrand-image */

.usecases span{
    color: rgb(42, 208, 210);
    
}
.usecases-h1-des{
    font-size: 5vw;
    font-weight: 700; 
}
.usecases-h1-phone{
    font-size: 3.2rem;   
    /* font-size: 60px; */
    font-weight: 700; 
    /* font-size: 11vw;  */
}
.parent-usecases-text{
    height: 70%;
    display: flex;
    align-items: center; 
}
.usecases-text{
    max-height: 100%;
}
.usecases-findmore {
    font-weight: 500;
    font-size: 25px;
    text-decoration: underline; 
    padding: 6px 26px 6px 0px;
    width: fit-content;
    cursor: pointer;

} 
.usecases-readmore {
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 158.16%;
    letter-spacing: -0.035em;
    color: #DFDEDE;
    font-size: 21px;                    /*   it was 24px */         
    text-decoration: underline; 
    /* padding: 6px 26px 6px 0px; */
    width: fit-content;
    cursor: pointer;
}  
.usecases-card-fram{ 
  position: relative;
  display: flex;
  align-items: center;
} 
.usecases-card-content-title{
    position: absolute;
    padding-left: 5%;

}
.usecases-card-img-fram{
    vertical-align: middle;
    width: 100%;
    height: fit-content;
}
.TS-bg-2,
.FT-bg-2,
.SP-bg-2{
    max-width: 100%;
}  
.us-card-title1{
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;                     /*   it was 24px */
    line-height: 158.16%;
    letter-spacing: -0.035em;
    color: #DFDEDE;
}
.us-card-title2{
    font-family: roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;                     /*   it was 48px */
    line-height: 80%;
    letter-spacing: -0.035em;
    color: #FFFFFF;

}

/* financial section */


.Finacial-card-fram{
    /* background: linear-gradient (180deg, #313131 0%, #000000 100%,); 
    backdrop-filter: blur(25px) ; */
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 36px;
    margin-bottom: 40px;
    /* height: 400px; */
    height: auto;
    position: relative;
    
}
.Finacial-card-title{
    position: absolute;
    height: 5%; 
    display: flex;
    align-items: center;
}
.Finacial-card-text{
    width: 100%;
}

.Finacial-card-img-fram{
    display: flex;
    align-items: center;
    height: 150px;
    
}
.SW-logo,
.BL-logo,
.TS-logo{
    max-width: 100%;
}
.financial-readmore {
    text-decoration: underline; 
    padding: 10px 38px;
    cursor: pointer;
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 50px;
    letter-spacing: -0.035em;
    text-align: center;
  } 
  .Finacial-card-title p{
      font-family: roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 40px;                      /*   it was 48px */
      line-height: 158.16%;
      letter-spacing: 0.035em;
      color: #FFFFFF;
  }
.Finacial-card-text p{
    font-family: roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;                            /*   it was 28px */
    color: rgb(42, 208, 210);
    letter-spacing: -0.035em;
    line-height: 130%;
}
.Finacial-card-text span{
    font-family: roboto;
    font-style: normal;
    font-weight: 900;
    font-size:22px ;                       /*   it was 32px */
    color: #FFFFFF;
    line-height: 130%;
    letter-spacing: -0.035em;
}