.g-12 {
      position: relative;
      z-index: -1;
      width: 100%;

}

.g-12-img {
      position: absolute;
      width: 100%;
}


.text {
      text-transform: capitalize;
}


.head-content span {
      color: rgb(42, 208, 210);
      font-family: 'Kameron-Bold', serif;
}

.head-content {
      margin-top: 20vh;
      font-family: 'Kameron', serif;
}


.head-content p {
      font-family: inter-light;
      font-weight: 300;
      color: gray;
}

.part1-h1 {
      font-family: kameron;
      /* font-size: 80px; */
}

.part1-h1-phone {
      font-family: kameron;
      font-size: 11vw;
}

.btn1 {
      border-radius: 30px !important;
      padding: 10px 7vw !important;
      background-color: rgb(42, 208, 210);
      color: white;
      margin-right: 15px;
      font-family: roboto;

}

.btn2 {
      border-radius: 30px;
      padding: 10px 7vw;
      border-color: rgb(42, 208, 210);
      background-color: #000000;
      color: white;
      font-family: roboto;
}

.bx-social {
      font-size: 30px;
      cursor: pointer;
}


.turn {
      rotate: 90deg;
      font-size: 40px;
}

.social-icons {

      background-color: rgba(255, 255, 255, 0.08);
      border-radius: 2vw;
      width: fit-content;
      text-align: center;
      margin: 2vw;
      padding: 1vw;
      list-style: none;
      position: sticky;
}

.btn-3 {
      border-radius: 30px !important;
      padding: 10px 70px !important;
      background-color: rgb(42, 208, 210);
      color: white;
      margin-right: 15px;
      font-family: roboto;
}

.btn-4 {
      border-radius: 30px;
      padding: 10px 50px;
      border-color: rgb(42, 208, 210);
      background-color: #000000;
      color: white;
      font-family: roboto;
}

.btn-phone-3 {
      border-radius: 30px !important;
      padding: 10px 9vw !important;
      background-color: rgb(42, 208, 210);
      color: white;
      margin-right: 15px;
      font-family: roboto;

}

.btn-phone-4 {
      border-radius: 30px;
      padding: 10px 7vw;
      border-color: rgb(42, 208, 210);
      background-color: #000000;
      color: white;
      font-family: roboto;
}


.hight-30vh {
      height: 30vh;
}

  .part4-h1{
        font-size: 60px;
        font-weight: 800;
        font-family: inter-black;
  }

@media screen and (max-width: 600px) {

      .part4-h1 {
            font-size: 2.4rem;
           
            font-weight: 800;
      }

} 

.fw-bold {
      margin-top: -2vh;
}

.text-part4 {
      margin-top: 9vh;
      font-family: roboto;
      font-size: 22px;  
}
/* max-width:1146px
min-width:992px */


/* @media screen and (max-width: 756px) {

      .text-part4 {
             
      }

}  */

/*          Description cards              */

.card-frame {
      background-color: rgba(255, 255, 255, 0.08);
      border-radius: 32px;
      /* margin-bottom: 128px; */
      margin-bottom: 100px;
}

.card-img-frame {
      background-image: url('../images/Elements/Group\ 10.png');
      background-size: cover;
      background-repeat: no-repeat;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      height: fit-content;
      padding-top: 25%;
      padding-bottom: 25%;
}

.card-img-photo {
      max-width: 50%;
}

.card-title {
      text-align: center;
      margin-top: -20%;
      height: 120px;
}

.card-title-text {
      font-family: kadwa-bold-700;
      font-weight: 700;
      font-size: xx-large;
}

.card-content-frame {
      padding: 5%;
      text-align: justify;
      text-justify: inter-word;
}

.card-content-text {
      font-family: roboto;
      font-weight: 400;
      font-size: 20px;
}

.card-content-readmore {
      font-family: roboto;
      font-weight: 400;
      font-size: 20px;
      text-decoration: underline;
      background-color: rgba(240, 248, 255, 0.14);
      padding: 6px 26px 6px 26px;
      border-radius: 16px;
      width: fit-content;
      cursor: pointer;

}