#g-12 {
      position: absolute;
      z-index: -1;
}

#g-12-img {
      position: absolute;
      left: 26vw;
      top: -36vh;
}

.test {
      border: 1px red solid;
}

.logo {
      width: 9vw;


}

.head-content span {
      color: rgb(42, 208, 210);
      font-family: 'Kameron-Bold', serif;
}

.head-content {
      margin-top: 20vh;
      font-family: 'Kameron', serif;
}

.menu-head-item {
      font-family: jomolhari;
      font-size: 16px;
}

.head-content p {
      font-family: inter-light;
      font-weight: 300;
      color: gray;
}

.part1-h1{
      font-family: kameron;
      font-size: 80px;
}

.btn1 {
      border-radius: 30px !important;
      padding: 10px 60px !important;
      background-color: rgb(42, 208, 210);
      color: white;
      margin-right: 15px;
      font-family: roboto;
}

.btn2{
      border-radius: 30px;
      padding: 10px 60px;
      border-color: rgb(42, 208, 210);
      background-color: #000000;
      color: white;
      font-family: roboto;
}

.bx {
      font-size: 30px;
}


.nav {
      background-color: #00000085;
      padding: 7px;
}

.turn {
      rotate: 90deg;
      font-size: 40px;
}

.social-icons {

      background-color: rgba(255, 255, 255, 0.08);
      border-radius: 2vw;
      width: fit-content;
      text-align: center;
      margin: 2vw;
      padding: 1vw;
      list-style: none;
}
.content-2{
      margin-top: 10vh;
}
.content-2 h2{
      font-family: kameron-bold;
      /* font-size: 40px; */
}
.content-2 span{
      color: rgb(42, 208, 210);
}
.content-2 p{
      font-family: kameron;
}
  

.img-2{
       width: 53vw; 
      /* width: 58vw; */
      margin-left: -8vw;
      margin-top: -22vh;
} 
.img-bg2{
      margin-top: -46vh;
      margin-left: -9vw;
      z-index: -11 !important;
      position: absolute;
}
.card-p3{
      background-color: rgba(255, 255, 255, 0.08);
      border-radius: 30px; 
}
.text{
      text-transform: capitalize;
}

.title-part3{
      font-family: kadwa-bold-700;
      font-weight: 700;
      margin-top: -27vh;
      position: absolute;
      max-width: 100%;
} 
.test-h3{
       display: flex;
       justify-content: center;
       align-items: center; 
       text-align: center;
}

.text-part3{
      font-family: kadwa-regular-400;
      text-align: center;
}
@font-face{
      font-family: kadwa-bold-700;
      src: url("../fonts/kadwa/Kadwa-Bold.ttf");
      format: ttf;
      
}
@font-face{
      font-family: kadwa-regular-400;
      src: url("../fonts/kadwa/Kadwa-Regular.ttf");
      formar: ttf;
}
.img-3{
      margin-left: 1.5vw;
      margin-top: -4vh;
      width: 30vw;
} 
.hotel{
      width: 15vw;
      margin-top: -63vh !important;
      margin-left: 9vw;
}
.town-hall{
      width: 18vw;
      margin-top: -65vh;
      margin-left: 8vw;
}
.btn-3{
      border-radius: 30px !important;
      padding: 10px 70px !important;
      background-color: rgb(42, 208, 210);
      color: white;
      margin-right: 15px;
      font-family: roboto;
}
.btn-4{
      border-radius: 30px;
      padding: 10px 50px;
      border-color: rgb(42, 208, 210);
      background-color: #000000;
      color: white;
      font-family: roboto;
}
.hight-30vh{
      height: 30vh;
}
.part4-h1{
      font-size: 60px;
      /* font-family: inter; */
      font-weight: 800;
}
.fw-bold{
      margin-top: -2vh;
}
.text-part4{
      margin-top: 9vh;
}
