#g-12 {
      position: absolute;
      z-index: -1;
}

#g-12-img {
      position: absolute;
      left: 26vw;
      top: -36vh;
}

.test {
      border: 1px red solid;
}

.logo {
      width: 9vw;


}

.head-content span {
      color: rgb(42, 208, 210);
      font-family: 'Kameron-Bold', serif;
}

.head-content {
      margin-top: 20vh;
      font-family: 'Kameron', serif;
}

@font-face {
      font-family: kameron;
      src: url("../fonts/kameron/Kameron-Regular.ttf");
      format: ttf;
}

@font-face {
      font-family: kameron-Bold;
      src: url("../fonts/kameron/Kameron-Bold.ttf");
      format: ttf;
}

@font-face {
      font-family: jomolhari;
      src: url("../fonts/jomolhari/Jomolhari-Regular.ttf");
      format: ttf;
}

@font-face {
      font-family: inter-light;
      src: url("../fonts/inter/Inter-Light.ttf");
      format: ttf;
}

@font-face {
      font-family: roboto;
      src: url("../fonts/roboto/Roboto-Regular.ttf");
      formar: ttf;
}

.menu-head-item {
      font-family: jomolhari;
      font-size: 16px;
}

.head-content p {
      font-family: inter-light;
      font-weight: 300;
      color: gray;
}

h1 {
      font-family: kameron;
      font-size: 80px;
}

.btn1 {
      border-radius: 30px !important;
      padding: 10px 60px !important;
      background-color: rgb(42, 208, 210);
      color: white;
      margin-right: 15px;
      font-family: roboto;
}

.btn2 {
      border-radius: 30px;
      padding: 10px 60px;
      border-color: rgb(42, 208, 210);
      background-color: #000000;
      color: white;
      font-family: roboto;
}

.bx {
      font-size: 30px;
}

ul {
      list-style: none;
}

ul li {
      margin-bottom: 3vh;
}

.nav {
      background-color: #00000085;
      padding: 7px;
}

.turn {
      rotate: 90deg;
      font-size: 40px;
}

.social-icons {

      background-color: rgba(255, 255, 255, 0.08);
      border-radius: 2vw;
      width: fit-content;
      text-align: center;
      margin: 2vw;
      padding: 1vw;
}

.social-icons li {
      margin-bottom: 0px;
}