   /* ===== Desktop Nav bar ===== */
.test{
      border: 1px solid red;
}
   .nav-parent {
         width: 100%;
         max-width: 1440px;
         position: fixed !important;
   }

   .my-nav {
         background-color: #00000085;
         padding: 10px 8.3% 10px 8.3%;
         /* width: 100%; */
         margin: 0;
         display: flex;
         justify-content: space-between;
         max-width: 1440px;
   }

   .nav-logo {
         max-width: 50%;
         width: 20%;  
   }

   .logo {
         width: 80%; 
         /* width: 40%; */
         max-width: 100%;
   }


   .nav-head-item {
         font-family: jomolhari;
         font-size: 16px;
         width: fit-content;
   }


   /* ===== Phone Nav bar ===== */

   .nav-head-item:hover,
   .nav-head-item:focus {
      background-color: rgb(42, 208, 210, 0.2);
      cursor: pointer;
   }
   
   .nav-logo-phone{
         width: 50%;
         display: flex;
         align-items: center;

   }
   .logo-phone{
         max-width: 100%;
         width: 80%;
   }
   .dropdown-content {
      font-family: roboto;
      /* display: none !important;   */
      position: absolute;
      color: #f1f1f1;
      font-weight: 400;
      font-size: larger;
      background: linear-gradient(to right, rgba(2, 50, 51, 1), rgba(4, 65, 66, 0.9), rgba(2, 65, 66, 0.3));
      min-width: 180px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      /* right: 0; */
      top: 50px;
      z-index: 1;
      
}
.dropdown-content-phone {
      position: sticky !important;
      /* text-align: center; */
      display: flex;
      flex-direction: column;
      align-items: center; 

  
  }
  
.nav-phone-item {
      padding: 12px 16px;
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: end;


  }
.img-menu-phone{
      color: rgb(42, 208, 210);
      font-size: 16vw !important;
      margin: 0;
}
.part1-h1-phone{
      font-family: kameron;
      font-size: 11vw;
}
.ph{
      padding-right: 60px;
      padding-left: 60px;
}

