body {
      background-color: #000000;
      overflow-x: hidden;
      color: #ffffff;
      max-width: 1440px;
      margin: auto;
      min-width: 300px;
}

::-webkit-scrollbar {
      display: none;
}