html,
body {
      background-color: #000000;
      overflow-x: hidden;
      color: #ffffff;
      max-width: 1440px;
      margin: auto;
      min-width: 300px;
      /* box-sizing: content-box; */
      width: 100%;

}

main {
      overflow: hidden;
}

::-webkit-scrollbar {
      display: none;
}

.copyright {
      color: #555555a6;
      text-align: center;
      margin: 24px;
}